# dependencies (bun install)
node_modules

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# cache
.turbo
.knip

# build
dist
*.tsbuildinfo
tsconfig.tsbuildinfo

# env
.env
.env.var
